.container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.slider::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari, and Opera */
}

.productBox {
  min-width: 200px;
  margin: 0 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}
.image {
  width: 100%;
  height: 50%;
}

.details {
  padding: 10px;
}

.price {
  font-weight: bold;
}

.oldPrice {
  text-decoration: line-through;
  margin-right: 5px;
  color: #999;
}

.discount {
  color: red;
}

.rating {
  color: #f5a623;
}

.arrowLeft,
.arrowRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
}

.arrowLeft {
  left: 10px;
}

.arrowRight {
  right: 10px;
}
